---

---
<html lang="en" class="w-full h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Jairo Ernesto -- Auxiliar de Justicia</title>
	</head>
	<body class="flex h-full w-full flex-col">
		<main class="flex-auto bg-gray-200">
			<div class="bg-blue-900 text-white px-8 py-8 shadow-lg">
				<div class="container mx-auto">
					<h1 class="text-3xl font-bold">Jairo Ernesto Quiroga Boh贸rquez</h1>
					<h2 class="text-xl">锔 Auxiliar de Justicia</h2>
				</div>
			</div>

			<div class="container bg-white mx-auto my-4 py-8 px-8 shadow-sm rounded-lg">
				<div class="max-w-2xl">
					<h1 class="text-2xl font-semibold">Liquidaciones Judiciales</h1>
					<p class="mb-4">
						A continuaci贸n encontrar谩 diferentes liquidaciones judiciales
						junto con la informaci贸n relevante sobre ellas.
					</p>
					<p>
						Para acceder a una liquidaci贸n deber谩:
					</p>
					<ul class="ms-4 list-disc">
						<li>
							Ingresar en la <a class="text-blue-600 font-semibold underline" target="_blank" href="https://servicios.supersociedades.gov.co/barandaVirtual/#!/app/procesos">Baranda Virtual de la Superintendencia
								de Sociedades</a>.
						</li>
						<li>
							Hacer clic en la casilla de <b>"no soy un robot"</b>, y
							realizar la validaci贸n en caso de que lo solicite.
						</li>
						<li>
							Marcar la casilla de <b>Pol铆tica de Digitalizaci贸n
							de Documentos y Pol铆tica de Tratamiento de Datos</b>.
						</li>
						<li>
							En la lista desplegable seleccionar <b>NIT</b>.
						</li>
						<li>
							Finalmente, <b>ingresar su c贸digo NIT sin d铆gito de verificaci贸n</b> 
							en la casilla y hacer clic en el bot贸n "buscar".
						</li>
					</ul>
				</div>
			</div>

			<div class="container mx-auto my-8 py-8 px-8 bg-white shadow-sm rounded-lg divide-y divide-dashed space-y-4">
				<div class="py-4">
					<h1 class="text-xl font-semibold">Carlos Julio Casta帽eda Caro</h1>
					<h2 class="text-gray-800 pb-4">En liquidaci贸n judicial.</h2>

					<a href="/documents/2024-01-566197.pdf" target="_blank" class="px-4 py-2 border rounded-lg text-white bg-blue-900 hover:bg-blue-800 active:bg-blue-950">
						 Ver documento
					</a>
				</div>
				<div class="py-4">
					<h1 class="text-xl font-semibold">JCG Ingenier铆a SAS.</h1>
					<h2 class="text-gray-800 pb-4">En liquidaci贸n judicial.</h2>

					<a href="/documents/2024-01-616263.pdf" target="_blank" class="px-4 py-2 border rounded-lg text-white bg-blue-900 hover:bg-blue-800 active:bg-blue-950">
						 Ver documento
					</a>
				</div>
				<div class="py-4">
					<h1 class="text-xl font-semibold">H&T Hidrolavadoras</h1>
					<h2 class="text-gray-800 pb-4">En liquidaci贸n.</h2>

					<a href="/documents/431-004362.pdf" target="_blank" class="px-4 py-2 border rounded-lg text-white bg-blue-900 hover:bg-blue-800 active:bg-blue-950">
						 Ver documento
					</a>
				</div>
			</div>
		</main>

		<footer class="bg-blue-900 text-white px-8 py-8 shadow-lg">
			<div class="container mx-auto">
				<h1 class="-mb-1">Jairo Ernesto Quiroga Boh贸rquez</h1>
				<a class="text-sm text-blue-200" href="mailto:jairoquiroga@gmail.com">
					锔 jairoquiroga@gmail.com
				</a>
			</div>
		</footer>
	</body>
</html>
